COVALENT_API_KEY=""
HOST="0.0.0.0"
PORT="8000"
REFERRER_ADDRESS=""
REFERRER_FEE=""
BSC_RPC_URL_1=""
ETHEREUM_RPC_URL_1=""
POLYGON_RPC_URL_1=""
BSC_RPC_URL_2=""
ETHEREUM_RPC_URL_2=""
POLYGON_RPC_URL_2=""
DB_PATH="/node/db/wsn.sq3"
DEBANK_API_KEY=""
SIGNING_PASSWORD=""
ADMIN_PASSWORD_HASH=""
ADMIN_PASSWORD_SALT=""
SERVER_DNS="http://ws.ninja"
