:root {
   --color-primary: #cc1f1f;
   --color-black: #1d1d1d;
   --color-white: #ffffff;
   --color-gray: #5c5c5c;
   --color-light-gray: #c9c8c8;
   --color-ultra-gray: #ececec;
   --color-charcoal: #2d2c2c;
   --color-green: #009e10;
   --color-red: #cc1f1f;
}
