.Select {
   padding: 8px 16px;
   border: 1px solid var(--color-light-gray);
   border-radius: 4px;
   background: var(--color-white);

   &--dark {
      background: var(--color-charcoal);
      color: var(--color-white);
   }
}
